.login-box {
  max-width: 80%;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0rem 0rem .5rem .1rem grey;
}