<div id="pomodoro-page">
  <header>
    <button id="logout-btn" class="matter-button-contained">Logout</button>
  </header>
  <section id="pomodoro">
    <article id="time">
      00 min 00 sec
    </article>
    <article id="controls">
      <button id="stop" class="matter-button-contained">Stop</button>
      <button id="play-pause" class="matter-button-contained">Play</button>
    </article>
    <article id="pomodoro-stages">
      <article class="pomodoro-stage matter-button-outlined">Work time</article>
      <article class="pomodoro-stage matter-button-outlined">Short Break</article>
      <article class="pomodoro-stage matter-button-outlined">Long Break</article>
    </article>
  </section>
  <section id="tasks">
    <article class="task">
      <button id="delete-task-1" class="matter-button-contained">X</button>
      <p>Title 1</p>
      <p>Description of the task</p>
    </article>
    <article class="task">
      <button id="delete-task-2" class="matter-button-contained">X</button>
      <p>Title 2</p>
      <p>Description of the task</p>
    </article>
    <article class="task">
      <button id="delete-task-3" class="matter-button-contained">X</button>
      <p>Title 3</p>
      <p>Description of the task</p>
    </article>
  </section>
</div>