button {
  width: 12rem;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  color: #000;
  background-color: transparent;
  box-shadow: 0rem 0rem .3rem .1rem black;
}

.deep-blue-200 {
  background-color: #90caf9;
}

.deep-green-200 {
  background-color: #a5d6a7;
}

.deep-red-200 {
  background-color: #ef9a9a;
}