#authentication-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, #212121, #4527A0); */
  /* background-color: #212121; */
}