<div id="register-new-user-page">
  <section id="register">
    <form action="" method="post">
      <article>
        <label id="normal" class="matter-textfield-standard">
          <input placeholder=" "/>
          <span>Email</span>
        </label>
        <label id="normal" class="matter-textfield-standard">
          <input placeholder=" "/>
          <span>Password</span>
        </label>
        <label id="normal" class="matter-textfield-standard">
          <input placeholder=" "/>
          <span>Repeat password</span>
        </label>
      </article>
      <label id="accept-terms-checkbox" class="matter-checkbox">
        <input type="checkbox">
        <span>I accept all the <a class="matter-link" routerLink ="/terms" style="font-size: large;">terms</a></span>
      </label>
      <button id="login-btn" class="matter-button-contained" type="submit">Register</button>
    </form>
  </section>
</div>