body {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  margin: 0rem 0rem 1rem 0rem;
}

p {
  margin: 0rem 0rem 1rem 0rem;
}

header {
  width: calc(100vw - 1rem);
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 1rem 0rem 0rem;
  background-color: rgb(33,150,243);
}

header #logout-btn,
header #logout-btn::before,
header #logout-btn::after {
  color: rgb(33,150,243) !important;
  background-color: #fff !important;
}

#pomodoro {
  margin: 2rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pomodoro #time {
  height: 6rem;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 4rem;
}

#pomodoro #controls {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pomodoro #pomodoro-stages {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pomodoro #pomodoro-stages .pomodoro-stage {
  /* background-color: rgb(33,150,243); */
}

#pomodoro #pomodoro-stages #pomodoro-stage {
  font-size: 2rem;
}

#tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#tasks .task {
  width: 30rem;
  margin: 0rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}